 @import 'https://fonts.googleapis.com/css?family=Lato';

 html,
 body,
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	font-family: 'lato';
 }


 .navbar {
 	height: 70px;
 	width: 100%;
 	background: red;
 	text-align: center;
 	line-height: 70px;
 }

 .main_content {
 	width: 80%;
 	margin: 50px auto;
 }

 .container_img {
 	width: auto;
 	margin: 0 auto;
 	display: flex;
 	justify-content: space-around;
 }

 .div_img {
 	display: inline-block;
 	width: 200px;
 	cursor: pointer;
 }


 .footer {
 	position: fixed;
 	bottom: 0;
 	width: 100%;
 	height: 50px;
 	background: red;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }


 @media only screen and (max-width: 991px) {

 	.container_img {
 		width: auto;
 		margin: 0 auto;
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 	}

 	.div_img {
 		display: block;
 		margin: 30px;
 	}
 }